a{
  text-decoration: none;
  color: black;
  display: block;
  padding-top: 3px;
  
}

.box{
  width: 200px;
  height: auto;
  background: linear-gradient(to bottom, #aaa, #ccc, #ddd, #eee);
  border: 1px solid gray;
  border-radius: 10px;
  padding-bottom: 10px;
}

h2{
  font-weight: 800;
  margin-top: 7px;
  margin-left: 15px;
}
h2 span{
  color: orange;
}
.span-box{
  width: 150px;
  height: 25px;
  box-sizing: border-box; /* 박스 사이징을 안쓰면 상자 높이가 늘어남*/
  overflow: hidden;
  margin: 0 auto;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  padding-left: 20px;
  padding-bottom: 15px;
  text-align: left;
  transition: height 0.4s, padding-top 1s 0.5s;
}


.span-box:hover{
  height: 150px;  /* block : none , height : auto 모두 x */
  padding: 10px 0 8px 20px;
}